<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
</head>
<body style="background-image:  linear-gradient(to left,#012f7e, #459fc9);
background-size: cover;font-weight: bold;">
    <h1 style="color:white;text-align:center;">Efficient Water Analysis and Prediction using Machine Learning </h1>
    <div style="padding:50px;">
    <font color="white" size="5" font-family="Comic Sans MS" style="padding:50px;"> Water is considered as a 
        vital resource that affects various aspects of human health and lives. 
        The quality of water is a major concern for people living in urban areas. 
        The quality of water serves as a powerful environmental determinant and a 
        foundation for the prevention and control of waterborne diseases. 
        However predicting the urban water quality is a challenging task since the 
        water quality varies in urban spaces non-linearly and depends on multiple factors, 
        such as meteorology, water usage patterns, and land uses, so this project aims 
        at building a Machine Learning (ML) model to Predict Water Quality by considering 
        all water quality standard indicators.<br /> <br><center>Technical architecture</center>
    </font>
        <div style="display: block;margin-left: auto;margin-right: auto;width: 50%;padding-top:40px;">
    <img src="../static/css/architecture.png" alt="image">
</div>
</body>
</html>